PORT=3000


DB_HOST=localhost
DB_PORT=5432
DB_NAME=mock_scores
DB_USER=postgres
DB_PWD=pwd
DB_SSL=false


JWT_SECRET=MYJSONSecret
REFRESH_TOKEN_SECRET=REFRESHSecret
ACCESS_TOKEN_EXPIRY=5m
REFRESH_TOKEN_EXPIRY=7d
REFRESH_TOKEN_TTL_MS=604800000


DOMAIN=mockscores.org


SES_SMTP_HOST=next-smtp.useplunk.com
SES_SMTP_PORT=2465
SES_SMTP_USER=plunk
SES_SMTP_PASS=plunk_password
MAIL_FROM_NAME="Mock Scores - Mock Trial Scoring"
MAIL_FROM_EMAIL="notifications@${DOMAIN}"


PLUNK_API_KEY=plunk_api_key
PLUNK_API_URL=https://next-api.useplunk.com
PLUNK_WEBHOOK_SECRET=rotating_secret

MAINTAINER_EMAIL="maintainer_email@email.com"

USE_AWS_SECRET=false